<launch>
    <!-- start fusion node -->
    <node pkg="my_cloud_fusion" name ="pcl_fusion_1"  type="cloud_fusion_node" output="screen" required="true"/>
    
    <!-- start rviz -->
    <arg name="rvizconfig" default="$ (find my_cloud_fusion)/data/points_fused.rviz" />
    <node pkg="rviz" name="rviz" type="rviz" args="-d $ (arg rvizconfig)" output="screen" />
</launch>